table
{
    width: 270px;
    height: 270px;
    border: 1px solid black;
    border-collapse: collapse;
}

td
{
    width: 30px;
    height: 30px;
}

.white 
{
    background-color: white;
}

.black
{
    background-color: black;
}